{% layout "split" %}
{% block content %}
<!-- TODO: Check markup -->
<!-- TODO: Style page -->
	{% include "banners" %}
	<main>

		<section class="range-description">
			<h1>Theme IE Buntin</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
		</section>
		<section class="products">
			<h1>Price &amp; Quantity</h1>
			<form class="form form--inline" action="range.html" method="" accept-charset="utf-8">
				<table class="table table--condensed table--products">
					<tr>
						<td><a href="@path product.html">Full Range</a></td>
						<td class="col_price">&pound;20.00</td>
						<td class="col_qty controls"><input type="text" class="controls--control small" placeholder="0"></td>
					</tr>
					<tr>
						<td><a href="@path product.html">Save The Date</a></td>
						<td class="col_price">&pound;1.50</td>
						<td class="col_qty controls"><input type="text" class="controls--control small" placeholder="0"></td>
					</tr>
					<tr>
						<td><a href="@path product.html">Invite</a></td>
						<td class="col_price">&pound;1.50</td>
						<td class="col_qty controls"><input type="text" class="controls--control small" placeholder="0"></td>
					</tr>
					<tr>
						<td><a href="@path product.html">Order Of Service</a></td>
						<td class="col_price">&pound;1.50</td>
						<td class="col_qty controls"><input type="text" class="controls--control small" placeholder="0"></td>
					</tr>
					<tr>
						<td><a href="@path product.html">Seating Plan</a></td>
						<td class="col_price">&pound;1.50</td>
						<td class="col_qty controls"><input type="text" class="controls--control small" placeholder="0"></td>
					</tr>
					<tr>
						<td><a href="@path product.html">Table Names</a></td>
						<td class="col_price">&pound;1.50</td>
						<td class="col_qty controls"><input type="text" class="controls--control small" placeholder="0"></td>
					</tr>
					<tr>
						<td><a href="@path product.html">Place Names</a></td>
						<td class="col_price">&pound;1.50</td>
						<td class="col_qty controls"><input type="text" class="controls--control small" placeholder="0"></td>
					</tr>
				</table>
				<button type="submit" class="btn btn--primary pull-right">Add to Basket</button>
			</form>
		</section>
		<section class="delivery">
			<h1>Delivery Details</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
		</section>
	</main>

	<aside>
		<ul class="list-grid">
			<li>
				<figure>
					<a href="#" class=""><img class="img img--thumbnail" src="{{ "400" | placeholder }}" alt="..."></a>
				</figure>
			</li>
			<li>
				<figure>
					<a href="#" class=""><img class="img img--thumbnail" src="{{ "400" | placeholder }}" alt="..."></a>
				</figure>
			</li>
			<li>
				<figure>
					<a href="#" class=""><img class="img img--thumbnail" src="{{ "400" | placeholder }}" alt="..."></a>
				</figure>
			</li>
			<li>
				<figure>
					<a href="#" class=""><img class="img img--thumbnail" src="{{ "400" | placeholder }}" alt="..."></a>
				</figure>
			</li>
			<li>
				<figure>
					<a href="#" class=""><img class="img img--thumbnail" src="{{ "400" | placeholder }}" alt="..."></a>
				</figure>
			</li>
			<li>
				<figure>
					<a href="#" class=""><img class="img img--thumbnail" src="{{ "400" | placeholder }}" alt="..."></a>
				</figure>
			</li>
		</ul>
	</aside>

{% endblock %}
